name: Build

on:
  push:
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    container: wpilib/roborio-cross-ubuntu:2024-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Grant execute permission
        run: chmod +x gradlew
      - name: Submodule Update
        run: git config --global --add safe.directory /__w/2026-Rebuilt/2026-Rebuilt && git submodule sync --recursive && git submodule update --init --recursive
      - name: Build robot code
        run: ./gradlew build
